.insurance {
	margin-bottom: 40px;
}

.insurance__item {
	width: 260px;
	margin-bottom: 26px;
	color: #383838;
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
	cursor: pointer;
	
	&:hover, &:active {
		color: #73ae33;
	}
}

.insurance__sublist {
	display: none;
}

.insurance__subitem {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	&:hover {
		color: #383838;
	}
}

@media (min-width: @tablet-width) {
	.insurance__item {
		width: 390px;
		margin-bottom: 38px;
		margin-left: -3px;
	}
}

