.our-things {
	margin-bottom: 45px;
}

.our-things__list {
	display: flex;
	flex-wrap: wrap;
}

.our-things__item {
	position: relative;
	width: 128px;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: #383838;
	
	&:nth-child(2n) {
		margin-left: 38px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		transform: translateY(-136%);
		background-repeat: no-repeat;
	}
}

.our-things__item--day {
	&::before {
		background-image: url("../img/watch.svg");
		width: 51px;
		height: 51px;
	}
}

.our-things__item--age {
	&::before {
		background-image: url("../img/ten.svg");
		width: 62px;
		height: 47px;
	}
}

.our-things__item--something {
	margin-top: 112px;

	&::before {
		background-image: url("../img/pencil.svg");
		width: 52px;
		height: 52px;
	}
}

@media (min-width: @tablet-width) {
	.our-things {
		margin-left: 6px;
		margin-bottom: 50px;
	}

	.our-things__list {
		justify-content: space-between;
		width: 486px;
	}

	.our-things__item {
		&:nth-child(2n) {
			margin-left: 0;
		}

		&--something {
			margin-top: 0;
		}
	}

	.our-things {
		position: relative;

		&::before, &::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 133px;
			background-color: #383838;
			opacity: 0.1;
			top: -74px;
		}

		&::before {
			left: 150px;
		}	

			&::after {
			right: 200px;
		}		
	}
}

@media (min-width: @desktop-width) {
	.our-things {
		margin-left: auto;
		width: 520px;
	}
}